

.banner{
    
    background-color: #3b4da1;
   
    height: 100vh;
    border-top: 0.5px solid rgb(110,124,252);
    font-family: system-ui, system-ui, sans-serif;
    letter-spacing: 1px;

}

.banner-left{
    color: white;
    /* width: 500px; */
    margin-top: 200px;
 
}
/* .banner-left h1{
    text-align: left;
} */



.banner-left .banpara{
    
    /* width:450px; */
    height: 100px;
    padding-top: 100px;
    line-height: 22px;
    letter-spacing: 1.5px;
    text-align: left;
    color: rgb(185, 185, 213);
}


.banner-left .banbutton{
    width:150px;
    height: 40px;
    margin-top: 50px;
   
    border-radius: 5px;
    
    
}

.banner-right{
    width: 2px;
    margin-top: 150px;
}
.main-flex{
    gap: 150px;
}

@media (max-width: 400px) {
    .banner-left{
        /* width: 150px; */
    margin-top: 50px;

    }
    .banner-left .banbutton{
        margin-top: 40px;
    }
    .banner-left .banpara{
        padding-top: 40px;
    }
    .main-flex{
        flex-direction: column;
    }
    .banner-right{
        margin-top: 10px;
    }
    .banner-image{
        width: 253px;
    /* margin-bottom: 225px; */
    margin-top: -125px;
    }
  }

  @media (max-width: 550px) {
    .banner-left{
        /* width: 150px; */
    margin-top: 100px;

    }
    .banner-left .banbutton{
        margin-top: 60px;
    }
    .banner-left .banpara{
        padding-top: 60px;
    }
    .main-flex{
        flex-direction: column;
    }
    .banner-right{
        margin-top: 20px;
    }
    .banner-image{
        width: 325px;
    /* margin-bottom: 225px; */
    margin-top: -125px;
    }
  }
  
  /* @media (max-width: 920px) {
    .banner-left{
   
    margin-top: 100px;

    }
    .banner-left .banbutton{
        margin-top: 60px;
    }
    .banner-left .banpara{
        padding-top: 60px;
    }
    .main-flex{
        flex-direction: column;
    }
    .banner-right{
        margin-top: 20px;
    }
    .banner-image{
        width: 625px;
    margin-top: -125px;
    }
  }
   */